node_modules
npm-debug.log
dist
.env
.env.*
downloads
temp
cookies.txt
.git
.gitignore
*.md
.dockerignore
.eslintrc.js
.prettierrc
tsconfig.json
tsconfig.build.json
nest-cli.json
test
coverage
.nyc_output
