PORT=3000
DOWNLOAD_PATH=/tmp/media-downloads
TEMP_STORAGE_PATH=./temp
MAX_FILE_SIZE=524288000
YTDLP_PATH=yt-dlp
FFMPEG_PATH=/usr/bin/ffmpeg
COOKIE_FILE_PATH=./cookies.txt
ENABLE_COOKIES=false
CORS_ORIGIN=*
RATE_LIMIT_TTL=60
RATE_LIMIT_MAX=10
